@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 0 20%;
}

.container {
    margin-top: 30px;
}

a {
    color: #C1A187;
    text-decoration: none;
}

a:hover {
    text-decoration: underline white;
}

a:active {
    color: white;
}

.header p {
    color: #C1AA96;
    font-weight: bold;
}
.header {
    display: flex;
    padding-bottom: 20px;
    margin: auto;
    width: 90%;
}

@media (max-width: 1200px) {
    .body {
        padding: 0
    }
    .header {
        text-align: center;
        display: block;
    }
}

.header-text {
    padding: 20px 20px 20px 40px;
}

.header-text h4 {
    margin-bottom: 10px;
}

.content {
    margin: auto;
    width: 90%;
}

.card h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.avatar {
    width: 200px;
    border-radius: 10%;
    box-shadow: -1px 1px 10px whitesmoke;
}
.card {
    background: dimgray;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.bg-blue-gray{
    background: #384258
}

.bg-milk-coffee{
    background: #84724E;
}

.bg-brown{
    background: #84664E;
}



.list {
    padding: 10px 20px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.contact h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
}

.form-group input, .form-group textarea{
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 10px;
    outline: none;
    color: white;
    font-family: inherit;
}

::-webkit-input-placeholder {
    color: white;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    color: white;
    padding: 15px 20px;
    background-color: #84664E;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.75;  /*прозначность*/
}

/*Position*/

/*.positon {*/
/*border: 2px solid black;*/
/*    position: relative;*/
/*    margin-top: 40px;*/
/*    padding: 20px;*/
/*    margin-bottom: 500px;*/
/*    height: 300px;*/
/*}*/

/*.box {*/
/*    background-color: white;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/